* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

section {
    background-color: rgb(0, 189, 79);
    width: 323px;
    height: 200px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#loginForm{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
#divForm{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input {
    width: 100%;
    height: 20px;
}

button {
    width: 92px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}