* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101922;
    color: #3b3b3b;
}

section {
    background-color: #f4f7f6;
    width: 50vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:block
}

#loginForm{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
#divPrincipal {
    padding-top: 50%;
}

#divForm{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    
}

label {
    margin-bottom: 5px;

}
input {
    width: 100%;
    border: 1px solid #d9d9d9;
    height: 43px;
    border-radius: 9px;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    height: 45px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: cadetblue;
}

span {
    color: #007BFF;
}