@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101922;
    color: #3b3b3b;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

section {
    background-color: #f4f7f6;
    width: 64vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:block
}

#loginForm{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
#divPrincipal {
    padding-top: 50%;
}

#divForm{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    
}

label {
    margin-bottom: 5px;

}
input {
    width: 100%;
    border: 1px solid #d9d9d9;
    height: 43px;
    border-radius: 9px;
}

button {
    width: 96%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    height: 45px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}

button:hover {
    background-color: cadetblue;
}

span {
    color: #007BFF;
}

@media (max-width: 600px) {
  section {
    background-color: #f4f7f6;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:block
}

#divForm{
    width: 80%;
}
}