@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f7f8;
}

#Principal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60vh;
    margin-top: 30vh;
    padding: 30px;
}

h1 {
    font-size: 50px;
}

#divBotoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

button {
    width: 144px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}

button:hover {
    background-color: #007bff;
    color: aliceblue;
}

#divBotao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}